#container {
  margin-top: 20px;
  margin-left: 200px;
  margin-right: 200px;
  padding: 10px 150px 10px 150px;
  border-radius: 15px;
  background-color: #800000;
    text-align: left;
}
#content-contact {
  color: white;
}
#content-profile {
  color: white;
}
#content-education {
  color: white;
}
h1 {
  font-size: 64px; 
  margin-bottom: -25px;
}
h2 {
  font-size: 18px;
  margin-bottom: -6px;
}
h3 {
  font-size: 26px;
  margin-bottom: -10px;
}
