#container {
  margin-top: 20px;
  margin-left: 200px;
  margin-right: 200px;
  padding: 10px 150px 10px 150px;
  border-radius: 15px;
  background-color: #800000;
    text-align: left;
}
#content-profile {
  color: white;
}
